.mainPage h1{
    font-size: 1.4em;
    text-align: center;
    color: #fff;
    line-height: 50px;
    letter-spacing: 10px;
}
.header{
    height: 50px;
}
.loginAvatar{
    position: relative;
    top: 20px;
    left: 0;
}
.circle{
    margin: 100px auto 20px;
    padding-top: 50px;
    height: 200px;
    width: 200px;
    background-color: #f5f5f5;
    border-radius: 100px;
}
.loginAvatar span{
    display: block;
    font-size: 100px;
    width: 100px;
    height: 100px;
    margin:auto;
}
.loginForm .input-group{
    width: 100%;
}
#username,#password{
    border: none;
    border-radius: 0px;
    height: 35px;
}
#password:focus,#username:focus{
    outline: none;
    border: none;
    box-shadow: none;
}
#username{
    width: 80%;
    margin: 20% 10% 7% 10%;
}
#password{
    width: 80%;
    margin: 0 10% 0 10%;
}
.groupBtn{
    width: 80%;
    margin: 7% 10% 0 10%;
}
.loginBtn{
    width: 70%;
    float: left;
    background-color: #09f;
    border-radius: 0;
    color: #fff;
    margin-left: 10%;
}
.resetBtn{
    margin-top: 0px;
    width: 20%;
    float: left;
    border-radius: 0;
    background-color: #fff;
}
.groupBtn a{
    float: right;
    display: block;
    color: #ccc;
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 0.8em;
}
/*alert开始*/
.alert{
    position: absolute;
    left: 38px;
    top: 340px;
    padding: 10px;
}
/*alert结束*/








